* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    min-height: 80px;   
}

#nav_box {
    width: 70%;
    margin: 0 auto;
    background-color: rgb(110, 24, 24);
    min-height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

input {
    width: 250px;
    margin: 0 40px;
}

#login {
    background-color: blue;
    width: 85px;
}

#entire_page {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    min-height: 80px;
    gap: 2em;
    width: 930.3px;
}

#left_side {
    flex: 3;
    height: 600px;
}

.card {
    margin-top: 14px;
    height: 200px;
    align-items: center;
    border: grey 4px solid; 
    display: flex;
    justify-content: space-evenly;
    
    
}

.left_text {
    display: flex;
    flex-direction: column;
    gap: 1em;
}


#right_side {
    flex: 2;
    height: 600px;
    margin-top: 30px;
}

.card button {
    background-color: yellow;
    width: 85px;
    height: 31px;
    margin-left: -8px;
}

.card h2 {
    margin-left: 5px;
}

.card h3 {
    margin-left: -13px;
}


#card2 {
    background-color: white;
    height: 165px;
    border: grey 4px solid;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-top: 25px;
    width: 310px;
    margin-left: 50px;
    align-items: center;
} 

#card2 button {
    background-color: lightgreen;
    width: 165px;
    box-shadow: 5px 5px 5px yellow;
}